


.chart-plot-background {
    -fx-background-color: transparent;
;
}

.data0.chart-bar {
    -fx-bar-fill: rgb(201, 252, 252);
}

.data1.chart-bar {
    -fx-bar-fill: rgb(255, 180, 249)
;
}
.data2.chart-bar {
    -fx-bar-fill: rgb(248, 234, 163)
;
}

.data3.chart-bar {
    -fx-bar-fill: rgb(227, 255, 200)
;
}

.data4.chart-bar {
    -fx-bar-fill: rgb(252, 235, 213)
;
}

.data5.chart-bar {
    -fx-bar-fill: rgb(226, 183, 150)
;
}

.data6.chart-bar {
    -fx-bar-fill: rgb(171, 220, 236)
;
}

.data7.chart-bar {
    -fx-bar-fill: rgb(236, 108, 133)
;
}

.data8.chart-bar {
    -fx-bar-fill: rgb(184, 184, 117)
;
}

.data9.chart-bar {
    -fx-bar-fill: rgb(117, 185, 117)
;
}

.data10.chart-bar {
    -fx-bar-fill: rgb(250, 188, 164)
;
}

.data11.chart-bar {
    -fx-bar-fill: rgb(206, 173, 236);
}





/*.default-color2.chart-bar {*/
/*    -fx-bar-fill: gold;*/
/*}*/