
.data0.chart-pie { -fx-pie-color: rgb(201, 252, 252); }
.data1.chart-pie { -fx-pie-color: rgb(255, 180, 249); }
.data2.chart-pie { -fx-pie-color: rgb(248, 234, 163); }
.data3.chart-pie { -fx-pie-color: rgb(227, 255, 200);; }
.data4.chart-pie { -fx-pie-color: rgb(252, 235, 213); }
.data5.chart-pie { -fx-pie-color: rgb(226, 183, 150); }
.data6.chart-pie { -fx-pie-color: rgb(171, 220, 236); }
.data7.chart-pie { -fx-pie-color: rgb(236, 108, 133); }
.data8.chart-pie { -fx-pie-color: rgb(184, 184, 117); }
.data9.chart-pie { -fx-pie-color: rgb(117, 185, 117); }
.data10.chart-pie { -fx-pie-color: rgb(250, 188, 164); }
.data11.chart-pie { -fx-pie-color: rgb(206, 173, 236); }

.chart-legend {
    -fx-border-color: #7b8c5a;
    -fx-border-width: 4px;
    -fx-background-color: #f8fdea;
}

