
.data0.chart-pie { -fx-pie-color: aqua; }
.data1.chart-pie { -fx-pie-color: fuchsia; }
.data2.chart-pie { -fx-pie-color: gold; }
.data3.chart-pie { -fx-pie-color: chartreuse; }
.data4.chart-pie { -fx-pie-color: bisque; }
.data5.chart-pie { -fx-pie-color: chocolate; }
.data6.chart-pie { -fx-pie-color: deepskyblue; }
.data7.chart-pie { -fx-pie-color: crimson; }
.data8.chart-pie { -fx-pie-color: olive; }
.data9.chart-pie { -fx-pie-color: green; }
.data10.chart-pie { -fx-pie-color: coral; }
.data11.chart-pie { -fx-pie-color: blueviolet; }

