.main-background {
    -fx-background-image: url("images/creator_background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: stretch;
}

.label {
    -fx-text-fill: black;

}

.save-button {
    -fx-background-image: url("images/save_button.png");
    -fx-translate-y: 0px;
    -fx-background-repeat: stretch;
    -fx-background-size: 145%;
    -fx-background-position: center;
}

.save-button:hover {
    -fx-translate-y: -5px;
    -fx-background-image: url("images/save_button_hovered.png");
    -fx-background-size: 145%;
}

.stats-button {
    -fx-background-image: url("images/stats_button.png");
    -fx-translate-y: 0px;
    -fx-background-repeat: stretch;
    -fx-background-size: 145%;
    -fx-background-position: center;
}

.stats-button:hover {
    -fx-translate-y: -5px;
    -fx-background-image: url("images/stats_button_hovered.png");
    -fx-background-size: 145%;
}

.toggle-button {
    -fx-translate-x: 0px;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-background-image: url("images/toggle_button.png");
    -fx-background-color: none;
    -fx-background-size: 100%;
    -fx-background-repeat: stretch;
    -fx-background-position: 50% 53%;

    -fx-padding: 23px 0px 23px 20px;
}

.toggle-button:hover {
    -fx-background-image: url("images/toggle_button_hovered.png");
}

.toggle-button-selected{
    -fx-translate-x: -50;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.category-buttons-container{
    -fx-translate-y: -115;
}

/*.toggle-button:selected:hover{*/
/*    -fx-background-image: url("images/toggle-button-sprouted_hovered.png");*/
/*}*/