.list-view{
    -fx-background-radius: 0.1em;
    -fx-border-radius: 0.1em;
    -fx-padding: 10px 10px 10px 10px;
}

.scroll-bar{
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}


.list-view-upside-down {
    -fx-background-color: rgb(242, 252, 231);
    /*-fx-padding: 10px 10px 10px 10px;*/
}

.list-cell {
    -fx-text-fill: black;
    -fx-background-color: rgb(242, 252, 231);
}

.list-view-upside-down .list-cell {
    -fx-background-color: rgb(242, 252, 231);
}

.text-field{
    -fx-background-color: rgb(242, 252, 231);
    -fx-border-color: #7b8c5a;
    -fx-border-width: 1px;
    -fx-border-radius: 0.5em;
    -fx-background-radius: 0.5em;
}


.search-button{
    -fx-border-radius: 0.1em;
    -fx-background-radius: 0.1em;
    -fx-background-color: #c7d7b2;
    -fx-text-fill: rgb(110, 84, 68);
    -fx-border-color: #534439;
    -fx-border-width: 4px;

}

.button:hover{
    -fx-background-color: #abcd9a;
    -fx-text-fill: rgb(143, 114, 104);
}
