

.search-list-view{
    -fx-background-color: rgb(242, 252, 231);
    -fx-background-radius: 0% 0% 0.5em 0.5em;
    -fx-border-radius: 0% 0% 0.5em 0.5em;
    -fx-border-color: transparent #7b8c5a #7b8c5a #7b8c5a;
    -fx-padding: 10px 10px 10px 10px;
}


.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}


.list-view-upside-down {
    -fx-background-color: rgb(242, 252, 231);
    -fx-background-radius: 0.5em 0.5em 0% 0%;
    -fx-border-radius: 0.5em 0.5em 0% 0%;
    -fx-border-color: #7b8c5a #7b8c5a transparent #7b8c5a;
    -fx-padding: 10px 10px 10px 10px;
    /*-fx-padding: 10px 10px 10px 10px;*/
}

.big-list-view {
    -fx-background-color: rgb(242, 252, 231);
    -fx-border-color: transparent #7b8c5a #7b8c5a #7b8c5a;
    -fx-background-radius: 0% 0% 15px 15px ;
    -fx-border-radius: 0% 0% 15px 15px ;
    -fx-padding: 15px 15px 15px 15px;
}

.list-cell {
    -fx-text-fill: black;
    -fx-background-color: rgb(242, 252, 231);
    -fx-text-fill: #816d5c;
}

.big-list-view .list-cell {
    -fx-font-size: 20px;
}

.list-view-upside-down .list-cell {
    -fx-background-color: rgb(242, 252, 231);
}

.text-field {
    -fx-text-fill: #816d5c;
    -fx-prompt-text-fill: rgba(152, 125, 102, 0.5);
}


.search-text-field{
    -fx-background-color: rgb(242, 252, 231);
    -fx-border-color: #7b8c5a;
    -fx-border-width: 1px;
    -fx-border-radius: 5%;
    -fx-background-radius: 5%;
}

.text-field-with-suggestions {

    -fx-background-color: rgb(242, 252, 231);
    -fx-border-color: #7b8c5a;
    -fx-border-width: 1px;

    -fx-background-radius: 0.5em 0.5em 0px 0px;
    -fx-border-radius: 0.5em 0.5em 0px 0px;
    -fx-border-color: #7b8c5a #7b8c5a transparent #7b8c5a;

}

.text-field-with-reverse-suggestions {

    -fx-background-color: rgb(242, 252, 231);
    -fx-border-color: #7b8c5a;
    -fx-border-width: 1px;

    -fx-background-radius: 0% 0% 0.5em 0.5em;
    -fx-border-radius: 0% 0% 0.5em 0.5em;
    -fx-border-color: transparent #7b8c5a #7b8c5a #7b8c5a;

}


.search-button{
    -fx-border-radius: 0.1em;
    -fx-background-radius: 0.1em;
    -fx-background-color: #c7d7b2;
    -fx-text-fill: rgb(110, 84, 68);
    -fx-border-color: #534439;
    -fx-border-width: 4px;

}

.button:hover{
    -fx-background-color: #abcd9a;
    -fx-text-fill: rgb(143, 114, 104);
}
