

.action-button {
    -fx-background-radius: 0.2em;
    -fx-background-color: #907867;
    -fx-text-fill: rgb(255, 248, 241);
    -fx-border-color: #534439;
    -fx-border-width: 0.1em;
    -fx-border-radius: 0.2em;
}

.action-button:hover {
    -fx-background-color: #57483e;
    -fx-text-fill: rgb(186, 173, 159);
}



.navigation-button{

    -fx-font-size: 30px;
    -fx-background-radius: 0.5em;
    -fx-background-color: #c4cb99;
    -fx-text-fill: rgb(110, 84, 68);
    -fx-border-color: #534439;
    -fx-border-width: 5px;
    -fx-border-radius: 0.5em;


}

.navigation-button:hover{
    -fx-background-color: #838e59;
    -fx-text-fill: rgb(76, 56, 40);
}

.tag-container {
    -fx-background-color: rgba(255, 254, 173, 0.7);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}

.tag-container-container{
    -fx-border-color: #534439;
    -fx-border-width: 8px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}
